
body{
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    color: lightseagreen;
    background-color: lightgray;
    opacity: 0.9;
    text-transform: uppercase;
  }
  
  #logo{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
  }
  .navbar{
    background-image: url(img/coffee-5417663_1280.png);
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 20px;
  }
  
  .text {
    width: 40%;
    font-size: 18px;
  }
  
  .image {
    width: 40%;
    height: auto;
  }
  
  .cim{
    text-align: center;
  }

  .coffee{
    text-align: center;
    font-weight: bold;
    font-size: large;
  }

  .kave{
    width: 204.0px;
    height: 204.0px;
  }

  tr td{
    margin-left: auto;
    margin-right: auto;
  }

  table{
    margin-left: auto;
    margin-right: auto;
  }